Source: jqtools
Section: utils
Priority: optional
Maintainer: shijie.chen <xingwozhonghua@126.com>
Build-Depends: debhelper-compat (= 13), qtdeclarative5-dev, qt5-qmake
Standards-Version: 20.6.9
Rules-Requires-Root: no
Homepage: https://github.com/188080501/JQTools

Package: jqtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qml-module-qtquick-controls, qml-module-qtgraphicaleffects
Description: A collection of tools based on Qt
 JQTools is a collection of tools based on Qt, such as a network tester, a QR code generator, a JSON formatter, and more.